<h1>Projects</h1>
<% if can? :read, @project %>
<ul>
  <% @projects.each do |project| %>
    <li>
      <a href="/projects/<%= project.id %>">
        <%= project.title %>
      </a>
    </li>
  <% end %>
</ul>
<%end>

<%= link_to "Create New Project", 'projects/new' %>
