<h1><%= link_to "BUG TRACKING SYSTEM", '/dashboard' %></h1>
<h1>Projects</h1>

<ul style="font-size: 20px;, color: black;">
  <% @projects.each do |project| %>
    <li>
      <a href="/projects/<%= project.id %>">
        <%= project.title %>
      </a>
    </li>
  <% end %>
</ul>

<h2><%= link_to "Create New Project", 'projects/new' %></h2>
